:root {
    --main-color: black;
    --main-hover-color: rgb(29, 29, 29);
    --secondary-color: #6b7280;
    --secondary-hover-color: #84868a;

    --terciary-color: rgb(55, 192, 178);

    --link-color: rgb(59 130 246);
    --link-hover-color: rgb(29 78 216); 
}


nav {
    background: black;
    color: white;
}

table {
    width: 100%;
    table-layout: fixed;
}

thead {
    position: sticky;
    top: 0px;
    background-color: white;
    margin-top: auto;
}


th {
    padding: 0.5rem;
    position: relative;
    text-align: center;
}

/*

    tbody:before {
        content:" ";
        display:block;
        height:10px;
    }

    table th:first-child{
        border-radius:30px 0 0 30px;

    }

    table th:last-child{
        border-radius:0 30px 30px 0;
    }

*/

td {
    border-width: 1px;
    padding: 0.5rem;
    text-align: center;
    background-color: rgb(204, 204, 204);
}

.table-container {
    overflow: auto;
    width: 100%;
}

.sortingArrow {
    flex: 1 1 0%;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 1.5rem; 
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

}

h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    margin-bottom: 0.5rem;;
}

input {
    margin-top: 0.25rem;
    padding: 0.5rem; 
    width: max-content;
    border-width: 1px;
    border-radius: 0.25rem;
    background-color:rgb(220, 220, 220);

}

select {
    background-color:rgb(220, 220, 220);
}

h1 {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
    font-weight: 700;
}

input:focus  {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: black;
}

.buttons-holder {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;

}

.buton-main {
    background-color: var(--main-color);
    color: white;
    font-weight: 700;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
}

.buton-main:hover {
    background-color: var(--main-hover-color);
}

.buton-secondary {
    background-color: var(--secondary-color);
    color: white;
    font-weight: 700;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
}

.buton-secondary:hover {
    background-color: var(--secondary-hover-color);
}

.go-back-button {
    color: var(--link-color);
}

.go-back-button:hover {
    color: var(--link-hover-color);
}
