th {
    border:"black";
    padding-top: 2rem;
    position: relative;
    text-align: center;
}

td {
    border-width: 1px;
    padding: 0.5rem;
    text-align: center;
    background-color: rgb(204, 204, 204);
}

table {
    width: 100%;
    table-layout: fixed;
}

.table-container {
    overflow: auto;
    width: 100%;
}

.sortingArrow {
    flex: 1 1 0%;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 1.5rem; 
    line-height: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

}

h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    margin-bottom: 0.5rem;;
}

input {
    margin-top: 0.25rem;
    padding: 0.5rem; 
    width: max-content;
    border-width: 1px;
    border-radius: 0.25rem;
    background-color:rgb(220, 220, 220);

}

h1 {
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
    font-weight: 700;
}

input:focus  {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: black;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.buttons-holder {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;

}

.buton-main {
    background-color: black;
    color: white;
    font-weight: 700;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
}

.buton-main:hover {
    background-color: #26292e;
}

.buton-secondary {
    background-color: #6b7280;
    color: white;
    font-weight: 700;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
}

.buton-secondary:hover {
    background-color: #84868a;
}

.go-back-button {
    color: rgb(59 130 246);
}

.go-back-button:hover {
    color: rgb(29 78 216);
}